body {
    background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);

}
/* Style the top navigation bar */
.topnav {
overflow: hidden;
background-color:black;
font-size: 20px;
padding: 12px;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; /* Full width */
}

/* Style the topnav links */
.topnav a {
float: right;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Placing of images */
.column {
float: left;
width: 20%;
margin-bottom: 16px;
padding: 0 8px;
font-size: 15px;
}
.quotation  {
padding-right: 3rem;
padding-left: 7rem;
font-weight:bold;
font-size: 1.5rem;
font-family: 'Bad Script';
}

footer {
text-align: center;
padding: 10px;
background-color: #000000;
color: white;
}