<!DOCTYPE html>
<html>
<title>Awareness-Prevention-Remedies</title>
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="../static/images/o.png">
	<meta name = "viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.co/w3css/4/w3.css">
	<link rel="stylesheet" href="../static/css/aware.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="topnav">
		<img src=
		"../static/images/o.png"
					width="50" height="40" alt=""&ensp>
		<h style= "color: whitesmoke;">My_website</h>
		<a href="../index.html">Home</a>
		<a href="dashboard.html">Dashboard</a>
		<a href="news.html">News</a>
		<a href="contact.html">Contact Us</a>
	  </div><br><br><br><br><br><br><br>
	<div class="header">
		<div class="centered"><b>AWARENESS, PREVENTION, REMEDIES</b></div><br>
		<img src="../static/images/covid.gif" style="width: 500px;height: 250px; border-radius: 30%;" >
  </div><br><br>

	<div class="top">AWARENESS</div><br>
	<div class="head"><h1>IMPORTANT NOTES</h1></div>
	<div class="details"><p>Any illnesses, including COVID-19 positive cases, in the workplace put others at risk.<br><b>If you are sick, please stay home!</b><br>Practice social distancing measures at all times.</p></div>

	<div class="head"><h1>Coronavirus and COVID-19</h1></div>
	<div class="details"><img src="../static/images/coronavirus.jpg" alt="coronavirus" style="width: 20%"><p>Coronavirus disease 2019, or COVID-19, is a respiratory illness spreading from person-to-person.<br>COVID-19 is considered a global pandemic with community spread.<br>Symptoms may include fever, muscle or body aches, sore throat and cough, fatigue and headaches.</p></div>

	<div class="head"><h1>Reducing community spread of COVID-19</h1></div>
	<div class="details"><img src="../static/images/stay.jpg" alt="stay_apart" style="width: 20%">
	<p>Take steps to protect yourselves and others:<br>1. COVID-19 is spread person-to-person or by touching contaminated surfaces.<br>2. Avoid being exposed to prevent illness.</p>
	
	<div class="top">PREVENTION</div><br>
	<div class="head"><h1>Cloth face covers</h1></div>
	<div class="details"><img src="../static/images/face_mask.jpg" alt="stay_apart" style="width: 20%"><p>Cloth face covers can help prevent <b>pre-symptotic</b> and <b>asymptotic</b> individuals from inadvertently spreading the virus to others.<br>Wear cloth face covers in public when social distancing is difficult to maintain.</p>
	</div>

	<div class="head"><h1>Fabric comparisons</h1></div>
	<div class="details"><p><b>Consider breathability versus filtration.</b><br><b>More suitable:</b> Pillowcase, bed sheets or 100% cotton t-shirt.<br><b>Less suitable:</b> Vacuum bag and tea towel-not breathable; silk-too breathable.</p><img src="fabric.jpg" alt="stay_apart" style="width: 20%"><p>The CDC recommends<b> two layers of tightly woven 100 percent cotton fabric,</b> such as quilter's material or bedsheets with a high thread count.</p>
	</div>

	<div class="head"><h1>Information about face cloth covers</h1></div>
	<div class="details"><img src="../static/images/mask.jpg" alt="stay_apart" style="width: 20%"><p>Cloth face covers should go over the mouth and nose.<br>Cloth face covers are <b>meant to protect others</b> in case you are infected.</p>
	</div>

	<div class="head"><h1>Cloth face covers should...</h1></div>
	<div class="details"><p>Fit snugly but comfortably against face.<br>Be secured with ties or ear loops.<br>Include multiple layers of fabric.<br> Allow for breathing without restriction.<br>Be able to be laundered and machine dried.</p>
	</div>

	<div class="head"><h1>Cloth face covers</h1></div>
	<div class="details"><p>Cloth face covers can be made at home as a <b> voluntary public health measure.</b><br>Should <b>not be</b> worn by: <br>1. Children under 2.<br>2. Anyone who has trouble breathing.<br>3. Anyone who is unconscious, incapacitated or unable to remove the cloth face cover without assistance.</p>
	</div>

	<div class="top">REMEDIES</div><br>
	<div class="head"><h1>Safety precautions and procedures</h1></div>
	<div class="details"><p>ECSU personnel working on-site should follow <b>safety precautions</b> and <b>practice recommended procedures</b> to minimize the spread of COVID-19.<br> Participate in health screening protocols, when checking in with your supervisor, if applicable.</p>
	</div>

	<div class="head"><h1>Health screening questions</h1></div>
	<div class="details"><p>1. Are you sick or do you feel ill?<br>2. Do you have a fever?<br>3. Have you experienced any new respiratory symptoms, such as a cough or shortness of breath, within the last 14 days?<br> 4. Have you had close contact with anyone who has tested positive for COVID-19, or who has been tested and is waiting for results while they had symptoms or in the two weeks before they began showing symptoms?<br>5. Have you traveled outside of Connecticut in the past 14 days?</p>
	</div>

	<div class="head"><h1>Social distancing</h1></div>
	<div class="details"><img src="../static/images/mask1.jpg" alt="stay_apart" style="width: 20%"><p>Avoid crowded places.<br> Maintain a distance of <b> at least six feet</b>-two meters-from others.<br>Stay outside or come back at a later time if a building is too crowded.</p>
	</div>

	<div class="head"><h1>SOCIAL DISTANCING IN ELEVATORS</h1></div>
	<div class="details"><p>COVID-19 ELEVATOR SAFETY<br>HELP REDUCE THE SPREAD OF COVID-19<br>LIMIT ONE PERSON PER ELEVATOR RIDE</p>

	<div class="head"><h1>Good respiratory hygiene</h1></div>
	<div class="details"><img src="../static/images/respiratory.jpg" alt="stay_apart" style="width: 20%"><p>Cover mouth and nose with tissues when coughing or sneezing or use the inside of elbow.<br>Throw away used tissues in the trash. Do not leave on top of surfaces.<br>Wash hands with soap and water or apply hand sanitizer.</p>

	<div class="head"><h1>Good hand hygiene</h1></div>
	<div class="details"><img src="../static/images/sanitizer.jpg" alt="stay_apart" style="width: 20%"><p><b>Avoid touching eyes, nose and mouth</b> with unwashed hands.<br>If soap and water are not available, <b>use a hand sanitizer that contains at least 60 percent alcohol.</b> Cover all surfaces of hands and rub together until dry. </p>
<br><br><br><br><br><br><footer>
			<h2 style="color:aqua;font-size: 15px;font-family: Georgia, 'Times New Roman', Times, serif;"><b>Our Goal is to Keep People Safe!!</b></h2>
			<h2 style="color: azure;font-size: 15px;font-family: Georgia, 'Times New Roman', Times, serif;"><b>Terms of Use . Privacy Policy</b></h2>
			<p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;"> Contact Us : My_website@gmail.com</a></p>
				<p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;">Follow Us: <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
				<a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
		  </footer>   
	</body>
</html>
