<!DOCTYPE html>
<html><head>
<title>Contact Us</title><br>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../static/images/o.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/contact.css">
</head>
<body>
  <div class="topnav">
    <img src=
    "../static/images/o.png"
                width="50" height="40" alt=""&ensp>
    <h style= "color: whitesmoke;">My_website</h>
    <a href="index.html">Home</a>
    <a href="dashboard.html">Dashboard</a>
    <a href="news.html">News</a>
    <a href="#">Contact Us</a>
  </div><br><br><br><br><br> <br><br>

<center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15638.69627341727!2d77.2356800252462!3d11.50341881929042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba920d7acaa3fc1%3A0x280672077bfe9e9b!2sSathyamangalam%2C%20Tamil%20Nadu%20638402!5e0!3m2!1sen!2sin!4v1623478746641!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></center>
</center><br><br><br>

		<br><br>	
    <div class="container mb-5 pt-5">
      <div class="row mt-5 pt-5 pb-5">
          <div class="col-md-12">
              <div class="section-title">
                  <h1 class="title" style="color:black;">Contact Us</h2>
                      <h4>
                          Any comments or feedback? Let Us know! Thank you.
                      </h4>
                      <hr />
                      <form  action="co.html" >
                          <div class="form-group">
                              <div class="row">
                                  <div class="col-md-6">
                                      <input placeholder="Name" id="name" name="name" type="text" class="form-control" required />
                                  </div>
                                  <div class="col-md-6">
                                      <input placeholder="Email" id="email" type="email" name="email" class="form-control" aria-describedby="emailHelp" required />
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <input placeholder="Subject" id="subject" name="subject" type="text" class="form-control" required />
                          </div>
                          <div class="form-group">
                              <textarea placeholder="Message" id="message" name="message" class="form-control" rows="3" required></textarea>
                          </div>
                          <button type="submit" value="submit" class="btn btn-primary">
            Submit
          </button>
                      </form>
              </div>
          </div>
      </div>
  </div>	<br><br><br><br>
<footer>
  <h2 style="color:aqua;font-size: 15px;font-family: Georgia, 'Times New Roman', Times, serif;"><b>Our Goal is to Keep People Safe!!</b></h2>
  <h2 style="color: azure;font-size: 15px;font-family: Georgia, 'Times New Roman', Times, serif;"><b>Terms of Use . Privacy Policy</b></h2>
  <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;"> Contact Us : My_website@gmail.com</a></p>
      <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;">Follow Us: <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
      <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
</footer>
  
</body>
</html>
