<!DOCTYPE html>
<html lang="en">
<head>
<title>Healthcare</title>
<meta charset="utf-8">
<link rel="icon" href="../static/images/o.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/health.css">
</head>
<body>
  <div class="topnav">
    <img src=
    "../static/images/o.png"
                width="50" height="40" alt=""&ensp>
    <h style= "color: whitesmoke;">My_website</h>
    <a href="index.html">Home</a>
    <a href="dashboard.html">Dashboard</a>
    <a href="news.html">News</a>
    <a href="contact.html">Contact Us</a>
  </div><br><br><br><br><br><br><br>
    <div class="slideshow-container">

        <div class="mySlides">
          <q>Vaccination helps us to safe our lives!</q>
          <h1 >
            To overcome  deadly virus Vaccination plays a major role...
        </h1>
          <p class="author">Indian Government,asked the indian people to get vaccinated to overcome this pandemic survey....</p>
        </div>
        
        <div class="mySlides">
          <q>Vaccination helps us to safe our lives!</q>
          <h1> “The art of medicine consists of amusing the patient while nature cures the disease.”</h1>
          <p class="author">The health care bill is nothing about health care- it's about controlling the people -David Lincoln</p>
        </div>
        
        <div class="mySlides">
          <q>Vaccination helps us to safe our lives!</q>
          <h1>To overcome  deadly virus Vaccination plays a major role...</h1>
          <p class="author">Indian Government,asked the indian people to get vaccinated to overcome this pandemic survey....</p>
        </div>
        
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
        
        </div>
        
        <div class="dot-container">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
        </div><br><br><br><br>
<div class="container p-3 my-3 bg-dark text-white">
<h2>COVID 19 Vaccines</h2><br>
  <p>Equitable access to safe and effective vaccines is critical to ending the COVID-19 pandemic, so it is hugely encouraging to see so many vaccines proving and going into development. WHO is working tirelessly with partners to develop, manufacture and deploy safe and effective vaccines. 
Safe and effective vaccines are a game-changing tool: but for the foreseeable future we must continue wearing masks, cleaning our hands, ensuring good ventilation indoors, physically distancing and avoiding crowds. 
 Being vaccinated does not mean that we can throw caution to the wind and put ourselves and others at risk, particularly because research is still ongoing into how much vaccines protect not only against disease but also against infection and transmission.
See WHO’s landscape of COVID-19 vaccine candidates for the latest information on vaccines in clinical and pre-clinical development, generally updated twice a week. WHO’s COVID-19 dashboard, updated daily, also features the number of vaccine doses administered globally.
But it’s not vaccines that will stop the pandemic, it’s vaccination. We must ensure fair and equitable access to vaccines, and ensure every country receives them and can roll them out to protect their people, starting with the most vulnerable.</p>
</div>
<br><br><br><br>
<div class="w4-container">
<div class="video">
<center><iframe  height="350" width="600"  src="https://www.youtube.com/embed/_JB8IEPqd1o"></iframe></center>
</div></div><br><br><br><br><br><br>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'covaxin')" id="defaultOpen">Covaxin</button>
  <button class="tablinks" onclick="openCity(event, 'covishield')">Covishield</button>
  <button class="tablinks" onclick="openCity(event, 'sputnik')">Sputnik-V</button>
</div>   
<div id="covaxin" class="tabcontent">
<h3><b>Covaxin</b></h3>
<p> Covaxin is an inactivated vaccine which means that it is made up of killed coronaviruses, 
making it safe to be injected into the body.The vaccine has an efficacy rate of 81%, preliminary data from its phase 3 trial shows.Both the manufacturer and drug regulator 
had defended Covaxin, saying it was "safe and provides a robust immune response".the vaccine had been approved for "restricted use in emergency situations in public interest as an abundant precaution, 
in clinical trial mode, especially in the context of infection by mutant strains".
Bharat Biotech had said that Indian clinical trial laws allowed "accelerated" authorisation for use of drugs after the second phase of trials for "unmet medical needs of serious and life-threatening diseases in the country".
</p>
</div>         
<div id="covishield" class="tabcontent">
<h3><b>Covishield</b></h3>
<p>When the vaccine is injected into a patient, it prompts the immune system to start making antibodies and primes it to attack any coronavirus infection.International clinical trials
of the Oxford-AstraZeneca vaccine showed that when people were given a half dose and then a full dose, effectiveness hit 90%.
The Serum Institute (SII), the Indian maker of the vaccine, says Covishield is "highly effective" and backed by phase III trial data from Brazil and United Kingdom. Clinical trials are a three-phased process to determine whether the vaccine induces good
immune responses and whether it causes any unacceptable side-effects.But patients' rights group, All India Drug Action Network, says its approval has been rushed because the manufacturer 
has not completed a "bridging study" of the vaccine on Indians.</p> 
</div>
<div id="sputnik" class="tabcontent">
<h3><b>Sputnik-V</b></h3>
<p>Sputnik V gives around 92% protection against Covid-19, late stage trial results published in The Lancet reveal.Sputnik V has been approved so far in 60 countries, 
including Argentina, Palestinian territories, Venezuela, Hungary, UAE and Iran.The Russian Direct Investment Fund (RDIF), which is marketing the vaccine, has signed deals to produce more than 750 million
doses of Sputnik V in India with six domestic vaccine makers, according to reports.Hyderabad-based pharmaceutical major Dr Reddy's Laboratories will be importing the first batch of 125 million doses to India during this quarter.
Supplies will be ramped up only next quarter when six Indian firms begin making the vaccine under the supervision of Dr Reddy's.
Until then, India will mostly depend on two previously approved candidates,Covaxin and Covishield.</p>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<section id="photos">
  <img src="../static/images/v1.jpg" alt="">
  <img src="../static/images/v2.jpg" alt="">
  <img src="../static/images/va1.jpg" alt="">
  <img src="../static/images/v10.jpg" alt="">
  <img src="../static/images/v4.jpg" alt="">
  <img src="../static/images/va3.jpg" alt="">
  

</section>
<script>
            var slideIndex = 1;
            showSlides(slideIndex);
            
            function plusSlides(n) {
              showSlides(slideIndex += n);
            }
            
            function currentSlide(n) {
              showSlides(slideIndex = n);
            }
            
            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides");
              var dots = document.getElementsByClassName("dot");
              if (n > slides.length) {slideIndex = 1}    
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";  
              }
              for (i = 0; i < dots.length; i++) {
                  dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";  
              dots[slideIndex-1].className += " active";
            }
            function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

function getRandomSize(min, max) {
  return Math.round(Math.random() * (max - min) + min);
}

var allImages = "";

for (var i = 0; i < 25; i++) {
  var width = getRandomSize(200, 400);
  var height =  getRandomSize(200, 400);
}


$('#photos').append(allImages);

            </script>
<br><br><br><br><br><br><footer>
  <h2 style="color:aqua;font-size: 15px;font-family: Georgia, 'Times New Roman', Times, serif;"><b>Our Goal is to Keep People Safe!!</b></h2>
  <h2 style="color: azure;font-size: 15px;font-family: Georgia, 'Times New Roman', Times, serif;"><b>Terms of Use . Privacy Policy</b></h2>
  <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;"> Contact Us : My_website@gmail.com</a></p>
      <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;">Follow Us: <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
      <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
</footer>          

            
  

  
</body>
</html>
