<!DOCTYPE html>
<html lang="en">
<head>
<title>help-support</title>
<meta charset="utf-8">
<link rel="icon" href="../static/images/o.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/help.css">
</head>
<body>
  <div class="topnav">
    <img src=
    "../static/images/o.png"
                width="50" height="40" alt=""&ensp>
    <h style= "color: whitesmoke;">My_website</h>
    <a href="index.html">Home</a>
    <a href="dashboard.html">Dashboard</a>
    <a href="news.html">News</a>
    <a href="contact.html">Contact Us</a>
  </div><br><br><br><br><br><br><br>
      <h2 style="font-family: fantasy; color: black; text-align: center;">Hospital NearBy</h2><br>
    <table class="table table-hover table-dark" style="width:70%;" align="center">
        <thead>
          <tr>
            <th>HOSPITAL NAME</th>
            <th>LOCATION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sathyamangalam Government Hospital</td>
            <td><a href="https://goo.gl/maps/aGbwPQ2vmK2W2Pz1A">Sathyamangalam</a></td>
          </tr>
          <tr>
            <td>Government Hospital and Medical college </td>
            <td><a href="https://goo.gl/maps/GVudSe5iH7gLSTgGA">Tirupur</a></td>
          </tr>
          <tr>
            <td>Government Hospital Perundurai</td>
            <td><a href="https://goo.gl/maps/s6Qwz7zv3M7Sc36SA">Perundurai</a></td>
          </tr>
          <tr>
            <td>Seelampatti Government Hospital </td>
            <td><a href="https://goo.gl/maps/hcTV5WvatrWUKAqw7">Erode</a></td>
          </tr><tr>
            <td>Chithode goverment Hospital</td>
            <td><a href="https://goo.gl/maps/MVYrYrjUiYwrAUc57">choithode</a></td>
          </tr><tr>
            <td>Government Hospital </td>
            <td><a href="https://goo.gl/maps/ye3Ut2jneLVbRSv97">coimbatore</a></td>
          </tr><tr>
            <td>Coimbatore City goverment Hospital</td>
            <td><a href="https://goo.gl/maps/QcGHmZyQwY3Xb4PD9">Coimbatore</a></td>
          </tr><tr>
            <td>Erode medicial center</td>
            <td><a href="https://goo.gl/maps/5G2tTuFrZ73tReet8">Erode</a></td>
          </tr><tr>
            <td>City Hospital</td>
            <td><a href="https://goo.gl/maps/KfrXZcVRHyDHg2yr5">Erode</a></td>
          </tr><tr>
            <td>Government Hospital mettupalayam</td>
            <td><a href="https://goo.gl/maps/Hod36fE4LhfVufiy6">mettupalayam</a></td>
          </tr>
        </tbody>
      </table><br><br>
    <h2 style="font-family: fantasy; color: black; text-align: center;">Emergency Helpline</h2><br>
    <table class="table table-hover table-dark" style="width:70%;" align="center">
      <tr>
        <th>HELPLINE</th>
        <th>CONTACT</th>
      </tr>
      <tr>
        <td>Corona Helpline 1</td>
        <td>011-23978046</td>
      </tr>
      <tr>
        <td>Corona Helpline 2</td>
        <td>011-23971075 </td>
      </tr>
      <tr>
        <td>Corona Helpline 3</td>
        <td>044-29510500</td>
      </tr>
      <tr>
        <td>Accident Helpline</td>
        <td>108</td>
      </tr>
      <tr>
        <td>Ambulance Helpline</td>
        <td>102</td>
      </tr>
      <tr>
        <td>NDMA</td>
        <td>011-26701728</td>
      </tr>
    </table><br><br>
    <h2 style="font-family: fantasy; color: black; text-align: center;">Availablity of vaccine </h2><br>
    <table class="table table-hover table-dark" style="width:70%;" align="center">
        <thead>
          <tr>
            <th>HOSPITAL NAME</th>
            <th>LOCATION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>COVID-19 Vaccine Location-Odapalli</td>
            <td><a href="https://goo.gl/maps/XxyD9TpUwtcxPfKe7">Erode</a></td>
          </tr>
          <tr>
            <td> Urban Primary Health Center</td>
            <td><a href="https://goo.gl/maps/tGweZF8SFhuDmquu7">Erode</a></td>
          </tr>
          <tr>
            <td>Lotus Hospitals Research Centre Ltd,Erode Tn.</td>
            <td><a href="https://goo.gl/maps/rY6yjgx1gnHEdRVA7">Erode</a></td>
          </tr>
          <tr>
            <td> City Hospital</td>
            <td><a href="https://goo.gl/maps/KfrXZcVRHyDHg2yr5">Erode</a></td>
          </tr><tr>
            <td>Psg Hospital</td>
            <td><a href="https://g.page/psghospitals?share">coimbatore</a></td>
          </tr><tr>
            <td>Hindusthan Hospital </td>
            <td><a href="https://goo.gl/maps/xLQdPKRvfWzJF9VH8">coimbatore</a></td>
          </tr><tr>
            <td>COVID-19 Vaccine Location-Gobi Gh</td>
            <td><a href="https://goo.gl/maps/ZzdgZhorGf8zr2JJ8">gobi</a></td>
          </tr><tr>
            <td>Sowimya Hospital</td>
            <td><a href="https://goo.gl/maps/7jHC1poxTgfkN4JA9">mettupalayam</a></td>
          </tr><tr>
            <td>Government Hospital Perundurai</td>
            <td><a href="https://goo.gl/maps/s6Qwz7zv3M7Sc36SA">Perundurai</a></td>
          </tr><tr>
            <td>Government Hospital mettupalayam</td>
            <td><a href="https://goo.gl/maps/Hod36fE4LhfVufiy6">mettupalayam</a></td>
          </tr>
        </tbody>
      </table><br><br><br><br><br><br><br<br><center>
<div class="w3-container">
  <h2 style="font-family:fantasy;font-style: italic;">DONATE</h2>
<b><p style="color: #ddd;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">If You Like to Donate Please Contact Us!!</p>
  <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">email:My_website@gmail.com</p>
  <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">contact: 9659440135</p></b>
</div></center><br><br><br><br><br><br><br<br>
  <footer>
    <h2 style="color:aqua;font-size: 15px;font-family: Georgia, 'Times New Roman', Times, serif;"><b>Our Goal is to Keep People Safe!!</b></h2>
    <h2 style="color: azure;font-size: 15px;font-family: Georgia, 'Times New Roman', Times, serif;"><b>Terms of Use . Privacy Policy</b></h2>
    <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;"> Contact Us : My_website@gmail.com</a></p>
        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;">Follow Us: <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
  </footer>          
  
              
                
  
  
    
  </body>
  </html>