<!DOCTYPE html>
<html>
<title>mental well-being
</title>
<head>
	<meta charset="UTF-8">
  <link rel="icon" href="../static/images/o.png">
	<meta name = "viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.co/w3css/4/w3.css">
  <link rel="stylesheet" href="../static/css/mental.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="topnav">
    <img src=
    "../static/images/o.png"
                width="50" height="40" alt=""&ensp>
    <h style= "color: whitesmoke;">My_website</h>
    <a href="../index.html">Home</a>
    <a href="dashboard.html">Dashboard</a>
    <a href="news.html">News</a>
    <a href="contact.html">Contact Us</a>
  </div><br><br><br><br><br><br><br>
	<div class="header">
  		<img src="../static/images/wellbeing.jpg" alt="mental well-being" style="width:100%">
  		<div class="centered"><b>MENTAL WELL-BEING</b></div>
	</div>

	<div class="row">
  <div class="column">
    <h2 style="font-size: 30px">PSYCOLOGY TODAY</h2>
    <div class="card">
    <img src="../static/images/help.jpeg" alt="psycology today" style="width:100%">
    <p style="font-size: 20px">1. Accept and adapt.<br>2. Stay busy.<br>3. Connect<br>4. Use coping strategies.<br>5. Care for yourself.<br>6. Get regular sleep.<br>7. Feed your body; Feed your brain.<br>8. Move more, sit less.<br>9. Home environment and activities.<br>10. Stay informed.<br> 11. Managing your illness.</p></div>
    <p style="font-size: 25px;color: white; background-color: black; padding:0px 0px 0px 0px"><i><b>"A WARM SMILE IS<br> THE UNIVERSAL LANGUAGE OF <br>KINDNESS"</b></i></p>
    <h2 style="font-size: 30px">11 WAYS TO TREAT DEPRESSION WITHOUT MEDICATION</h2>
    <div class="card">
    <h2 style="font-size: 25px">NATURAL WAYS TO MANAGE DEPRESSION</h2>
    <p style="font-size: 20px">Get More Sleep.<br>Cut Back on Caffeine.<br>Get More Vitamin D.<br>Go Natural.<br>Tap Your Spirituality.<br>Get More Excercise<br>Avoid Alcohol.<br>Eat 'Good Mood' Food.<br>Change Your Thoughts<br>Get a Handle on Stress.<br> Tend to Your Social Life</p></div>
    <p style="font-size: 25px; color: white; background-color: black; padding: 0px 0px 0px 0px"><i>"Meditation can have a range of beneficial effects such as lowering stress levels and helping people to become more aware of their thoughts and reactions."</i></p>
  </div>
  
  <div class="column">
  	<h2 style="font-size: 30px">Express gratitude</h2>
    <div class="card">
    <p style="font-size: 20px">When you're depressed, especially at this awful time, it can seem that everything in life is bleak and hopeless. But even in the darkest days, it's usually possible to find one thing you can be grateful about- the beauty of a sunset or a phone call from a friend, for example. It sounds chessy but acknowledging your gratitude can provide a respite from negative thinking and really boost your mood.</div>
    <h2 style="font-size: 30px">Maintain a routine</h2>
     <div class="card">
    <p style="font-size: 20px">Sleeping too much or too little, skipping meals or exercise, and neglecting your personal care only feeds your depression. Establishing and maintaining a daily routine, on the other hand, adds structure to your day, even if you're alone and out of work. Try to include set times for exercising, spending time outside, and communicating with friends each day.</p></div>
     <h2 style="font-size: 30px">Limit your consumption of news</h2>
     <div class="card">
    <p style="font-size: 20px">Yes, you want to stay informed, but overconsuming sensationalistic news or unreliable social media coverage will only fuel your negativity and fear. Limit how often you check news or social media and confine yourself to reputable sources.</p></div>
     <h2 style="font-size: 30px">Find simple sources of joy</h2>
     <div class="card">
    <p style="font-size: 20px">While you can't force yourself to have fun, you can push yourself to do things that will boost your mood throughout day. Try listening to uplifting music (evn getting up and dancing around if you can) or finding a reason to laugh by watching funny videos on You Tube or episodes of your favorite sitcom. Spending time in nature- whether it's walking in the park, paddling on the beach, or going for a hike- can ease stress and put a smile on your face, even if you're alone. Or try playing with kids or a pet- they'll benefit as much as you will.</p></div>
  </div>
  
  <div class="column">
    <h2 style="font-size: 30px">How to deal with anxiety brought on by COVID-19?</h2>
    <div class="card">
    <img src="../static/images/health_habits.jpg" alt="psycology today" style="width:100%">
    <p style="font-size: 20px">Focus on your breath<br>Maintain healthy habits<br>Stay connected to family and friends<br>Limit social media and news<br>Maintain a routine<br>Take time to be mindful<br>Write words of gratitude</p></div>
    <img src="../static/images/book.jpg" alt="psycology today" style="width:100%">
    <p style="font-size: 25px; color: white; background-color: black; padding: 0px 0px 0px 0px"><i>"Books are the mirrors of the <br>soul"<br> -Virginia Wolf, Between The Acts</i></p>
  </div>

</div>
<br><br><br><br><br><br><footer>
  <h2 style="color:aqua;font-size: 15px;font-family: Georgia, 'Times New Roman', Times, serif;"><b>Our Goal is to Keep People Safe!!</b></h2>
  <h2 style="color: azure;font-size: 15px;font-family: Georgia, 'Times New Roman', Times, serif;"><b>Terms of Use . Privacy Policy</b></h2>
  <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;"> Contact Us : My_website@gmail.com</a></p>
      <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;">Follow Us: <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
      <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
</footer>   
</body>
</html>
