<!DOCTYPE html>
<html>
<title>News</title>
<head>
	<meta charset="UTF-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="../static/images/o.png">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="../static/css/news.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="topnav">
    <img src=
"../static/images/o.png"
            width="50" height="40" alt=""&ensp>
             <h style= "color: whitesmoke;">My_website</h>
	  <a href="../index.html">Home</a>
	  <a href="dashboard.html">Dashboard</a>
	  <a href="#">News</a>
	  <a href="contact.html">Contact Us</a>
	</div><br><br><br><br><br><br>
  <div class="quotation">
    <marquee><p><span>“ </span><i>News is what somebody,somewhere,wants to suppress.</i><span>”</span></p></marquee>
  </div><br><br>
  <div class="w3-container">
    <h style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: x-large; color:black;" >Top News</h>
    <div class="w3-panel w3-blue w3-card-4 w3-hover-grayscale">
      <p>Vaccination per million population in tribal districts higher than national average, 
        with 128 out of 176 tribal districts performing better than all India vaccination coverage: Health ministry

      </p>
    </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel w3-purple w3-card-4 w3-hover-grayscale">
      <p>Some people seemed to completely disregard Covid protocols once curbs were eased. This is dangerous: Lav Agarwal

      </p>
    </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel w3-blue w3-card-4 w3-hover-grayscale">
      <h><i><b>Infections in different age groups observed to be almost same during first and second waves</b></i></h>
<p>In the age group of 1-10 years, 3.28% of children contracted COVID19 infection in the first wave while 3.05% during the second wave. 
        8.03% got infected in 11-20 years of age group in first wave and 8.5% in the second wave: Lav Agarwal

      </p>
    </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel w3-purple w3-card-4 w3-hover-grayscale">
      <h><b><i>More than 26.05 crore vaccine doses administered so far, says health ministry</i></b></h>
        <p>Overall more than 26.05 crore vaccine doses have been administered, says health ministry. At a time when unlocking 
        has been happening in some states, we should follow COVID appropriate behaviour, says Agarwal. 
      </p>
    </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel w3-blue w3-card-4 w3-hover-grayscale">
      <h><i><b>Discipline becomes very important when opening up, says VK Paul</b></i></h>
<p>Discipline becomes very important when opening up, says VK Paul. Responsibility and Discipline are two important things for unlocking.Testing and containment efforts become even more important, he says. Wherever a cluster of cases is found, a microcontainment zone has to be formed, Paul says. When the virus spread a lot, containment becomes more difficult. "We are dealing with a highly transmissible variant this year than we were in 2020, hence we exercise greater caution & strictly abide by COVID appropriate behaviour," ANI quotes him as saying.

      </p>
    </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel w3-purple w3-card-4 w3-hover-grayscale">
      <h><b><i>Number of deaths post COVID-19 vaccination  only 0.0002%, says health ministry</i></b></h>
        <p>The health ministry on Tuesday termed as "incomplete" and of "limited understanding" media reports which stated that 488 deaths between 16 January and 7 June following vaccination were linked to post-Covid complications, 
          and highlighted that the vaccination coverage during this period was 23.5 crore.  The number of deaths reported following COVID-19 vaccination in the country is only 0.0002 percent of the 23.5 crore doses administered, and this is within the expected death rates in a population, it said.
 
          In a population, deaths occur at a certain rate. The crude death rate in 2017, 
          according to SRS data, was 6.3 per 1,000 persons annually, the ministry said.
           It is also important and pertinent to note that the mortality rate for those testing positive for COVID-19 is more than one percent and vaccination can prevent these deaths, it said. "Therefore, the risk of dying following vaccination is negligible as compared to the known risk of dying due to COVID-19," the ministry stated.
      </p>
    </div>
  </div><br><br>
  <div class="w3-container">
    <h style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: x-large; color:black;">National</h><br>
    <div class="w3-panel  w3-blue w3-card-4 w3-hover-grayscale"  >
      <h><b><i>‘One Nation One Ration Card’ scheme makes food security portable: Centre tells SC</i></b></h>
        <p>The effort was to ensure that migrant workers and their families got assured access to nutrition via
           national portability of ration cards under the Food Security Act,’ the government said in its written submissions.
          ‘One Nation One Ration Card’ scheme makes food security “portable” and is 
          tailor-made for migrant labourers, the government told the Supreme Court on Monday.<p>
    </div>
  </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel w3-purple w3-card-4 w3-hover-grayscale">
      <h><b><i>COVID-19 has created an ‘ecosystem’ of innovation in India: Kiran Mazumdar-Shaw</i></b></h>
        <p>The ongoing COVID-19 public health crisis has resulted in the creation of an “ecosystem” of innovation in India, Biocon chief Kiran
           Mazumdar-Shaw has said ahead of the annual India-U.S. bio-pharma summit in Boston next week.
      </p>
    </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel w3-blue w3-card-4 w3-hover-grayscale">
      <h><b><i>COVID pushed men into informal labour, women out of workforce: study</i></b></h>
        <p>A survey of young, semi-skilled migrants from rural Bihar and Jharkhand in April 2021 has found that last year’s lockdown led to an informalisation of labour among men, while most of the women simply dropped out of the work force altogether.

          It also found that the number of out-of-State migrants halved between March 2020 and 2021, with no net effect of re-migration post lockdown. This meant the majority of these young workers were stuck in their home districts when the second wave of COVID-19 struck rural areas, and have poor chances of regaining formal, salaried work without policy interventions, according to researchers from 
          the Abdul Lateef Jameel Poverty Action Lab (J-PAL) and the University of Warwick.
      </p>
    </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel w3-purple w3-card-4 w3-hover-grayscale">
      <h><b><i>Coronavirus | Only 3.5% of the population is fully vaccinated as of June 13, 2021</i></b></h>
        <p>India recorded 67,699 new COVID-19 cases and 3,863 new deaths till 9.30 p.m. on June 13. The country has so far reported a total of 2,95,12,862 cases and 3,71,440 deaths.

          Tamil Nadu reported 14,016 new infections, followed by Kerala (11,584) and Maharashtra (10,442). Maharashtra recorded 2,771 new fatalities, followed by Tamil Nadu (267) and Kerala (206).
           Maharashtra’s fatalities include backlog deaths which were missed in the previous reports.
      </p>
    </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel w3-blue w3-card-4 w3-hover-grayscale">
      <h><b><i>Coronavirus | Novavax announces overall efficacy of about 90% for its vaccine in U.S., Mexico study</i></b></h>
        <p>U.S. vaccine manufacturer Novavax, said its COVID-19 vaccine had shown an overall efficacy of 90.4%  in trials in the U.S. and Mexico, potentially adding — in a few months — another vaccine to the world’s arsenal against the disease which has killed close to four million people.  
          Trials have already occurred in the UK and South Africa.
      </p>
    </div>
  </div><br><br><br>
  <div class="w3-container">
    <h style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: x-large; color:black;">International</h><br>
    <div class="w3-panel  w3-blue w3-card-4 w3-hover-grayscale"  >
      <h><b><i>₹150 per Covaxin dose to Centre not sustainable in long run: Bharat Biotech</i></b></h>>
        <p>"The supply price of Covaxin to the government of India at ₹150 / dose, is a non-competitive price
           and clearly not sustainable in the long run,” Bharat Biotech said in a statement</p>
    </div>
  </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel  w3-purple w3-card-4 w3-hover-grayscale"  >
      <h><b><i>U.K. study finds vaccines offer high protection against hospitalisation from Delta variant</i></b></h>>
        <p>COVID-19 vaccines made by Pfizer and AstraZeneca offer high protection of more than 90% against hospitalisation from the Delta coronavirus variant, 
          a new analysis by Public Health England (PHE) showed on Monday.</p>
    </div>
  </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel  w3-blue w3-card-4 w3-hover-grayscale"  >
      <h><b><i>Coronavirus | India records the highest number of daily fatalities</i></b></h>
        <p>India recorded 58,463 new COVID-19 cases and 2,698 new deaths till 9.30 p.m. on Monday. The country has so far reported a total of 2,95,68,540 cases and 3,77,027 deaths.
          Tamil Nadu reported 12,772 new infections, followed by Maharashtra (8,129) and Kerala (7,719). Maharashtra recorded 1,592 new fatalities, 
          followed by Tamil Nadu (254) and Kerala (161). 
          Maharashtra’s fatalities include backlog deaths, which were missed in the previous reports..</p>
    </div>
  </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel  w3-purple w3-card-4 w3-hover-grayscale"  >
      <h><b><i>Chinese scientist at center of coronavirus controvery breaks her silence</i></b></h>
        <p>According to the New York Times, in 2017 Dr. Shi and her colleagues at the Wuhan 
          laboratory published a report on an experiment “in which they created new hybrid bat coronaviruses by mixing and matching parts of several existing ones — including at least one that was nearly transmissible to humans — 
          in order to study their ability to infect and replicate in human cells.”
          But in an email to the paper, Dr. Shi said her experiments differed from gain-of-function experiments since they did not seek to make a virus more dangerous. 
          Instead they were trying to understand how the virus might jump across species.
          “My lab has never conducted or cooperated in conducting GOF experiments that enhance the virulence of viruses,” she said..</p>
    </div>
  </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel  w3-blue w3-card-4 w3-hover-grayscale"  >
      <h><b><i>Iran approves first homegrown COVID-19 vaccine</i></b></h>
        <p>Iran’s state TV is reporting that the country has approved
           an emergency use of its first domestically developed coronavirus vaccine that could bring the hardest-hit country in the Middle East 
           closer to inoculating its citizens against COVID-19.
          The emergency authorisation was approved after the country faced with problems from importing enough vaccines.</p>
    </div>
  </div>
  </div>
  <div class="w3-container">
    <div class="w3-panel  w3-purple w3-card-4 w3-hover-grayscale"  >
      <h><b><i>COVID-19 | U.S. vaccine surplus grows by the day as expiration dates loom</i></b></h>
        <p>Around the country, states are rushing to use up doses before they expire this summer.
          In Tennessee and North Carolina, demand for the COVID-19 vaccine has slowed down so much that they have given millions of doses back to 
          the federal government, even though less than half of their total populations are vaccinated</p>
    </div>
  </div>
  </div>
  <br><br><br><br><br><br><br>
    <footer>
        <h2 style="color:aqua;font-size: 15px;font-family: Georgia, 'Times New Roman', Times, serif;">Our Goal is to Keep People Safe!!</h2>
        <h2 style="color: azure;font-size: 15px;font-family: Georgia, 'Times New Roman', Times, serif;">Terms of Use . Privacy Policy</h2>
        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;"> Contact Us : My_website@gmail.com</a></p>
            <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 15px;">Follow Us: <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
      </footer>
    
    </body>
    </html>
